*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: black;
}
.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-left: 1px solid green;
    border-top: 1px solid green;
    /* border: 1px solid green; */
    /* background-color: white; */
    padding: 6rem 1rem;
    /* border-radius: 15px 0px 15px 0px; */
    box-shadow: 10px 10px 2px rgba(0, 128, 0, 0.5);
}
.inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.inputs input{
    margin: 1rem;
    width: 350px;
    padding: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid green;
    background-color: transparent;
    /* text-align: center; */
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1.5px;
    color: gray;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons button{
    margin: 2rem;
    padding: 10px 30px;
    background-color: green;
    outline: none;
    border: none;
    color: white;
    font-weight: 500;
    letter-spacing: 1.5px;
    font-size: 15px;
}
.message{
    color: red;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 12px;
    height: 15px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
@media screen and (max-width: 440px){
    .buttons{
        flex-direction: column;
    }
    .buttons button{
        margin: 1rem;
        padding: 10px 50px;
    }
    button:nth-child(odd){
        margin-top: 2rem;
    }
}